@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="postController" ng-init="posts=@Model">
    <button type="button" ng-click="AddPost()">Add Post</button>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Author</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{post.Title}}</td>
                    <td>{{post.Description}}</td>
                    <td>{{post.Author}}</td>
                    <td>{{post.Date | date:dd-MM-yyyy}}</td>
                    <td>
                        <button type="button" ng-click="EditPost(post)">Edit</button>
                    </td>
                    <td>
                        <button type="button" ng-click="DeletePost(post)">Delete</button>
                    </td>
                    <td>
                        <button type="button" ng-click="AddComment(post)">Add Comment</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="ShowModal" style="position:fixed;top:50%;left:50%;border:1px solid;width:30em;height:18em;margin-top:-9em;margin-left:-15em;background-color: #f3f3f3;">
        <form name="PostForm" ng-submit="SubmitForm()">
            <h3 style="margin-bottom:10px;">{{Title}}</h3>
            <fieldset ng-disabled="IsDisable" ng-if="!ShowCommentForm">
                <div style="margin-top:10px;">
                    <span>Title:</span>
                    <input type="text" ng-model="Post.Title" name="Post.Title" />
                </div>
                <div style="margin-top:10px;">
                    <span>Description:</span>
                    <textarea style="resize:none" ng-model="Post.Description" name="Post.Description"></textarea>
                </div>
                <div style="margin-top:10px;">
                    <span>Author Name:</span>
                    <input type="text" ng-model="Post.Author" name="Post.Author" />
                </div>
            </fieldset>
            <fieldset ng-if="ShowCommentForm">
                <div style="margin-top:10px;">
                    <span>Enter your comments:</span>
                    <textarea style="resize:none" ng-model="Comment.Text" name="Comment.Text"></textarea>
                </div>
            </fieldset>
            <div style="margin-top:30px;">
                <button ng-click="CloseForm()" type="reset">Cancel</button>
                <button type="submit">{{ButtonName}}</button>
            </div>
        </form>
    </div>
</div>

